<body>
  <div class="header">
    <h2 mat-h2>List of all staff in Blue Bridge</h2>
  </div>

  <div class="search-bar">
    <mat-form-field>
      <mat-label>Search staff directory</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" />
    </mat-form-field>
  </div>

  <div class="table-area">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <!-- <div
            mat-card-avatar
            matBadge="on"
            matBadgePosition="below after"
            matBadgeOverlap="true"
          ></div> -->
          <div
            mat-card-avatar
            matBadge="{{
              element.name === 'John Doe' || element.name === 'Woojin Oh'
                ? 'on'
                : 'off'
            }}"
            matBadgePosition="below after"
            matBadgeOverlap="true"
            [ngStyle]="{
              'background-image':
                'url(/assets/img/avataaars-' +
                element.name.split(' ')[0] +
                '.png)'
            }"
            [ngClass]="{
              off: element.name !== 'John Doe' && element.name !== 'Woojin Oh'
            }"
          ></div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let element">{{ element.department }}</td>
      </ng-container>

      <!-- Job Title Column -->
      <ng-container matColumnDef="job_title">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let element">{{ element.job_title }}</td>
      </ng-container>

      <!-- Chat Column -->
      <ng-container matColumnDef="chat">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary">Chat</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
  </div>

  <div class="button-area">
    <button mat-raised-button color="primary" class="mat-button-2">
      Invite selected people to Team chat
    </button>
  </div>
</body>
