<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <h5 class="mat-h5">Welcome to Blue Bridge</h5>
        <h3 class="mat-h3">LOGIN</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-icon>face</mat-icon>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Username" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your user name
            </mat-error>
          </mat-form-field>
          <br><mat-icon>lock</mat-icon>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your password
            </mat-error>
          </mat-form-field>
          <h5 class="mat-h5-2">Are you new?</h5>
          <button mat-raised-button color="primary">Sign In</button>
        </form>
      </mat-card-content>
    </mat-card>
</div>