p {
    margin: 12px auto 12px auto;
  }
  
  .mat-card {
    width: 80%;
    margin: auto;
    box-shadow: none !important;
  }
  
  .mat-card .full-width {
    width: 100%;
  }
  
  .mat-card-title {
    margin-bottom: 0px !important;
  
  }
  
  .mat-card-content {
    margin-bottom: 0px !important;
  }
  
  .mat-card-actions {
    display: flex;
  }
  
  .flex-spacer {
    width: 100%;
  }
  
  /* .mat-card .mat-card-actions .mat-checkbox{
    display: block;
    text-align: left;
  } */