<mat-card>
  <mat-card-title>
    <p>How are you John? Share your thought with your co-workers.</p>
  </mat-card-title>
  <form (ngSubmit)="onAddFeed(f)" #f="ngForm">
    <mat-card-content>
      <!-- <mat-form-field appearance="fill" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput #titleInput>
      </mat-form-field> -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>What are you thinking now. John?</mat-label>
        <textarea 
          ngModel
          name="descInput"
          matInput></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <mat-checkbox 
        ngModel
        name="priorityInput">High priority</mat-checkbox>
      <div class="flex-spacer"></div>
      <button mat-raised-button color="primary" type="submit">SAVE</button>
    </mat-card-actions>
  </form>
  <mat-divider></mat-divider>
</mat-card>
