
<html>
    <body class="empty-page">

        <!-- Retrieved from https://codepen.io/plavookac/pen/QMwObb -->
        <div class="waveWrapper waveAnimation">
            <div class="login-area">
                <div class="message">
                    <h1 class="mat-display-1">Are you new to Blue Bridge?</h1>
                    <h2 class="mat-display-1">We make communication better.</h2>
                </div>
                
                <app-login-box></app-login-box>
            </div>
            
            <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
        </div>
    </body>
</html>