<mat-card class="history-card">
  <mat-card-content>
    <div
      fxLayout="row"
      fxLayoutAlign="center start"
      class="container"
      *ngFor="let item of workingHours; let i = index">
      <div fxFlex="15%" fxFlex.xs="20%">
        <p class="no-y-margin">{{ item.start | date: 'MMM, d' }}</p>
      </div>
      <div fxFlex="70%" fxFlex.xs="80%">
        <p class="no-y-margin">Started work at {{ item.start | date: 'shortTime' }} || Worked for {{ dailyWorkingHours[i] }} hours</p>
      </div>
      <div fxFlex="15%" fxFlex.xs="0%"></div>
    </div>
  </mat-card-content>
</mat-card>