.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }