.mat-button {
  display: block;
  width: 100%;
  text-align: center;
}

.mat-toolbar {
  min-height: 50px !important; 
  height: 50px !important;
  margin-top: 20px;
}

.mat-toolbar-row {
  min-height: 50px !important; 
  height: 50px !important;
}

.span {
  margin: auto;
}