<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isXSmallAndSmall$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isXSmallAndSmall$ | async) ? 'over' : 'side'"
      [opened]="(isXSmallAndSmall$ | async) === false">
    <app-sidevar-card ></app-sidevar-card>
    <app-user-button></app-user-button>
    <app-admin-button></app-admin-button>
    <app-individual-button></app-individual-button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar>
      <button
      *ngIf="isXSmallAndSmall$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div *ngIf="!(isXSmall$ | async)">
        <span class="work-hour margin-right-15">Hello John, You've been working today for 4hr 30min</span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>power</mat-icon>
          <span>Start Work</span>
        </button>
        <button mat-menu-item>
          <mat-icon>power_off</mat-icon>
          <span>Finish Work</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </app-toolbar>
    <div class="test" *ngIf="(isXSmall$ | async)">
      <span class="work-hour margin-right-15">Hello John,<br>You've been working today for 4hr 30min</span>
    </div>
   <!-- Add Content Here -->
   <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
