p {
  margin: 12px auto 12px auto;
}

.mat-card {
  width: 80%;
  margin: auto;
  box-shadow: none !important;
  padding-top: 0;
}

.mat-card .full-width {
  width: 100%;
}

.mat-card-actions {
  display: flex;
}

.mat-card-avatar {
  background-image: url('/assets/img/avataaars.png');
  background-size: cover;
  min-width: 50px;
  min-height: 50px;
  margin: auto;
  border: 1px solid #3F51B5;
}

.mat-badge-content {
  background: #4CAF50;

}
#mat-badge-content-3 {
  background: #9E9E9E;
}

.mat-icon-button {
  float: right;
}

.font-red {
  color: #e53935;
}

.feed-description {
  font-size: 1rem;

}
.feed-notice {
  font-size: 1rem;
  color: #e53935;
}

.mat-divider {
  margin-top: 5px;
}