.calendar-area {
    margin: 30px auto auto auto;
}

.header, .options {
    margin: 30px auto auto 50px;
}

button {
    width: 70%;
    height: 200%;
}

h1 {
    margin: -8px auto auto auto;
}

.mat-button-toggle-group {
    margin: -8px auto auto auto;
}

.dot-meeting, .dot-event, .dot-vacation {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-meeting {
    background-color: #ad2121;
}

.dot-event {
    background-color: #e3bc08;
}

.dot-vacation {
    background-color: #1e90ff;
}