.header, .options {
    margin: 30px auto auto 50px;
}

button {
    width: 70%;
    height: 200%;
}

h1 {
    margin: -8px auto auto auto;
}

.mat-button-toggle-group {
    margin: -8px auto auto auto;
}