<div>

<app-sidevar-card></app-sidevar-card>
 
<mat-card class="myinfo-card">
    <div class="container">

         <mat-form-field >
            <mat-label>Department</mat-label>
            <input matInput readonly value="{{ELEMENT_DATA[1].department}}">
        </mat-form-field>

        <br>

         <mat-form-field >
            <mat-label>Job Title</mat-label>
            <input matInput readonly value="{{ELEMENT_DATA[1].job}}">
        </mat-form-field>

        <br>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="70%">
                <mat-form-field class="big" >
                    <mat-label>Condition</mat-label>
                    <mat-select [(value)]="selected" >
                        <mat-option value="{{condition_options[0]}}">{{condition_options[0]}}</mat-option>
                        <mat-option value="{{condition_options[1]}}">{{condition_options[1]}}</mat-option>
                        <mat-option value="{{condition_options[2]}}">{{condition_options[2]}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>

        <div fxFlex="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="30%" class="align-center">
            <button mat-raised-button color="primary">Change</button>
        </div>

    </div>

    </div>



</mat-card>
</div>
<br/>
