<div
  fxLayout="row"
  fxLayoutAlign="center center">
  <div fxFlex="10%" class="align-center"></div>
  <div fxFlex="80%">
    <p class="title">Overview</p>
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="center center">
        <div fxFlex="33.3%">
          <mat-card-header>
            <mat-card-title>Working Days</mat-card-title>
          </mat-card-header>
          <mat-card-content class="align-center">
            {{ totalDays }} Days
          </mat-card-content>
        </div>
        <div fxFlex="33.3%" class="card-border-x">
          <mat-card-header>
            <mat-card-title>Working Hours</mat-card-title>
          </mat-card-header>
          <mat-card-content class="align-center">
            {{ totalHours }} H {{ totalMinutes | number : '1.0-0' }} M
          </mat-card-content>
        </div>
        <div fxFlex="33.3%">
          <mat-card-header>
            <mat-card-title>Wage</mat-card-title>
          </mat-card-header>
          <mat-card-content class="align-center">
            $ {{ totalHoursFloat * 20 | number : '1.2-2' }}
            <!-- .../ need to connect with hourlyWage variable  -->
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="10%" class="align-center"></div>
</div>