.container {
  margin: 60px auto auto 120px;
}

.mat-form-field {
  width: 88%;
}

.invite-btn {
  margin-left: -15px;
  height: 60px;
}

.where-area {
  margin: 30px auto auto auto;
}

.apply-btn {
  margin: auto auto auto 82.8%;
}
