.container {
  text-align: right;
}

form {
  width: 100%;
}

::ng-deep .mat-form-field {
  width: 90% !important;
}

::ng-deep .mat-form-field-label {
  font-size: 12px;
}

.float-right {
  margin-top: 10px;
  width: 90%;
  float: right;
}

.vertical-align-center {
  margin: auto 0 !important;
}

.sub-label {
  font-size: calc(8px + 0.5vw);
}

.mat-raised-button {
  width: 85% !important;
}

.mat-divider {
  margin: 20px 0;
}

.align-left {
  text-align: left;
}

.remove-button {
  margin: auto 0;
}
