<div class="container">
    <form class="meeting-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Purpose</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>

        <div
            class="header"
            fxLayout="row"
            fxLayoutAlign="start start">

            <div class="parti-container" fxFlex="20">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Participants</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
            </div>

            <div class="parti-button" fxFlex="8">
                <button mat-raised-button color="primary" class="invite-btn">Invite</button>
            </div>

            <div class="list-container" fxFlex="60">
                <mat-card>
                    <p>Heejin Jeon</p>
                    <p>Woojin Oh</p>
                    <p>Injun Hwang</p>
                </mat-card>
            </div>
        </div>

        <mat-form-field appearance="fill" class="where-area">
            <mat-label>Where</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>When do you want to set up this schedule?</mat-label>
            <input matInput [matDatepicker]="picker-meeting">
            <mat-datepicker-toggle matSuffix [for]="picker-meeting">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>      

        <p class="apply-btn-p"><button mat-raised-button color="primary" class="apply-btn">Apply</button></p>
      </form>

</div>