.container {
    margin: 60px auto auto 120px;
}

.mat-form-field {
    width: 88%;
}

.invite-btn {
    margin-left: -15px;
    height: 142px;
}

.where-area {
    margin: 30px auto auto auto;
}

.apply-btn {
    margin: auto auto auto 82.8%;
}

.mat-selection-list {
    max-height: 200px;
    overflow-y: scroll;
}

