.container {
    margin: 60px auto auto 120px;
}

.mat-form-field {
    width: 88%;
}

.participants {
    width: 100%;
}

.invite-btn {
    float: right;
}

.where-area {
    margin: 30px auto auto auto;
}

.apply-btn {
    margin: auto auto auto 82.8%;
}

.people-list-card {
    width: 97%;
    max-height: 200px;
    overflow-y: scroll;
}

.remove-button {
    margin: auto 0;
}