<div class="container">
    <form class="meeting-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Purpose</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>

        <div
            class="header"
            fxLayout="row"
            fxLayoutAlign="start start">

            <mat-card class="parti-container" fxFlex="50">
                <mat-form-field appearance="fill" class="participants">
                    <mat-label>Participants</mat-label>
                    <input matInput placeholder="Please enter a participant's name" [(ngModel)]="personName" name="personName" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill" class="participants">
                    <mat-label>Department</mat-label>
                    <mat-select [(ngModel)]="departmentName" name="departmentName">
                      <mat-option *ngFor="let department of departments" [value]="department.viewValue">
                        {{department.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="parti-button">
                    <button mat-raised-button color="primary" class="invite-btn" (click)="onInvite($event)">Invite</button>
                </div>
            </mat-card>

            <span fxFlex="5"></span>

            <div class="list-container" fxFlex="30">
                <mat-card class="people-list-card">
                    <mat-card-subtitle>
                        List of participants
                    </mat-card-subtitle>
                    <div
                        fxLayout="row wrap"
                        fxLayoutAlign="start start"
                        *ngFor="let person of people; let i = index"
                        index="i">
                        <div fxFlex="85%">
                        <p>{{ person }}</p>
                        </div>
                        <div fxFlex="15%" class="remove-button">
                           <i class="material-icons" (click)="onDiscard(i)" color="accent">cancel</i>
                        </div>
                    </div>

                </mat-card>
            </div>
        </div>

        <mat-form-field appearance="fill" class="where-area">
            <mat-label>Where</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>When do you want to set up this schedule?</mat-label>
            <input matInput [matDatepicker]="meetingPicker">
            <mat-datepicker-toggle matSuffix [for]="meetingPicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #meetingPicker></mat-datepicker>
        </mat-form-field>      

        <p class="apply-btn-p"><button mat-raised-button color="primary" class="apply-btn">Apply</button></p>
      </form>

</div>