<div class="container">
    <form class="meeting-form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Purpose</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>

        <div
            class="header"
            fxLayout="row"
            fxLayoutAlign="start start">

            <mat-card class="parti-container" fxFlex="50">
                <mat-form-field appearance="fill" class="participants">
                    <mat-label>Participants</mat-label>
                    <input matInput placeholder="" [(ngModel)]="personName" name="personName">
                </mat-form-field>

                <mat-form-field appearance="fill" class="participants">
                    <mat-label>Department</mat-label>
                    <mat-select [(ngModel)]="departmentName" name="departmentName">
                      <mat-option *ngFor="let department of departments" [value]="department.viewValue">
                        {{department.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="parti-button">
                    <button mat-raised-button color="primary" class="invite-btn" (click)="onInvite($event)">Invite</button>
                </div>
            </mat-card>

            <span fxFlex="5"></span>

            <div class="list-container" fxFlex="30">
                <mat-card class="people-list-card">
                    <mat-card-subtitle>
                        List of participants
                    </mat-card-subtitle>
                    <mat-selection-list #list [(ngModel)]="selectedPeople" name="people-list">
                        <mat-list-option *ngFor="let person of people" [value]="people-list">
                          {{person}}
                        </mat-list-option>
                    </mat-selection-list>

                    <div *ngIf="isPersonAdded">
                        <button mat-raised-button color="accent" class="discard-btn" (click)="onDiscard($event)">Discard</button>
                    </div>
                </mat-card>
            </div>
        </div>

        <mat-form-field appearance="fill" class="where-area">
            <mat-label>Where</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>When do you want to set up this schedule?</mat-label>
            <input matInput [matDatepicker]="picker-meeting">
            <mat-datepicker-toggle matSuffix [for]="picker-meeting">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>      

        <p class="apply-btn-p"><button mat-raised-button color="primary" class="apply-btn">Apply</button></p>
      </form>

</div>