.datepicker {
    margin: auto;
}

.mat-card {
    width: 80%;
    margin: auto;
    box-shadow: none !important;
}

.mat-form-field {
    padding-bottom: 30px;
}

p {
    font-size: 0.8em;
    color: darkgray;
}