p {
    margin: 12px auto 12px auto;
  }
  
  .mat-card {
    width: 80%;
    margin: auto;
    box-shadow: none !important;
  }
  
  .mat-card .full-width {
    width: 100%;
  }
  
  .mat-card-actions {
    display: flex;
  }
  
  .mat-icon-button {
    float: right;
  }
  
  .font-red {
    color: #e53935;
  }